@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  cursor: default;
}

body {
  background-color: rgb(243, 243, 243);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: white;
  position: sticky;
  top: 0;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  z-index: 1;
}

nav a {
  color: rgb(25, 25, 25);
}

section {
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
}

ul {
  padding: 0;
}

input,
select,
textarea {
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  padding: 0.25rem 0.5rem;
}

.main-content {
  position: relative;
}

.balance-information-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.balance-information-wrapper,
.transaction-history-wrapper li {
  list-style: none;
}

.greetings-wrapper,
.balance-information-wrapper > li,
.transaction-history-section {
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
}

.greetings-wrapper,
.transaction-history-section {
  background-color: white;
}

.sort-filter {
  display: flex;
  justify-content: space-between;
}

.sort {
  display: flex;
  gap: 1rem;
}

.sort-filter input,
.sort-filter select {
  margin-left: 0.5rem;
}

.transaction-history-section {
  overflow: scroll;
}

.balance-information-wrapper > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.balance-information-wrapper > li > p {
  font-size: x-large;
  font-weight: bold;
}

.balance-information-card {
  background: #e3732d;
}

.deposit-information-card {
  background: #f0bd45;
}

.withdraw-information-card {
  background: #458ec9;
}

.transaction-history-wrapper {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.transaction-item {
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}

.transaction-item:hover {
  background-color: lightgray;
  cursor: pointer;
}

.transaction-item:hover * {
  cursor: pointer;
}

.transaction-item:last-child {
  border-bottom: none;
}

.transaction-item li {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.financial-detail {
  font-size: large;
  font-weight: 600;
}

.transaction-context {
  font-size: small;
}

.transaction-amount,
.transaction-date {
  text-align: right;
}

.deposit .transaction-amount {
  color: green;
}

.withdraw .transaction-amount {
  color: red;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-container button,
.error-message {
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  padding: 0.25rem 0.5rem;
}

.error-message {
  background-color: #ff3333;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}
